.list {
    gap: 24px;
    margin: 0 auto;
    width: 440px;
    padding: 24px;
}

.item {
    border-radius: 8px;
    border: transparent;
    background-color: rgba(246, 246, 254, 1);
    padding: 16px;
    height: 100%;
    width: 100%;

}

h2 {
    font-weight: 600;
    size: 24px;
    line-height: 1.33;
    letter-spacing: 4%;
    color: rgba(46, 47, 66, 1);
    padding-bottom: 16px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

li {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-color: rgba(128, 128, 128, 1);
    border-radius: 4px;
    padding: 8px 16px;

}